*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/Fundo2.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 720px;
    margin-top: -5vw;
}

.imgLogo{
    max-width: 400px;
}

.f_Login{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-form label{
    width: 100%;
    color: white;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.input-login{
    margin-left: 1vw;
    font-size: 24px;
    background-color: transparent;
    border:none;
    border-bottom: 0.15vw solid white;
    padding: 0.25vw 0.5vw;
    color: white;
}

.input-login:focus{
    border-bottom: 0.2vw orangered solid;
}

.container-botoes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vw;
}

.btn-action{
    background-color: transparent;
    color:white;
    font-size: 24px;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
    padding: 7.5px 15px;
    box-shadow: 0vw 0vw 0.5vw black;
    transition: 0.3s;
}

.btn-action:hover{
    filter:brightness(85%);
}

.reset{
    background-color: rgb(158, 121, 0);
}

.submit{
    background-color: darkgreen;
}