@font-face{
    font-family: venner;
    src:url(Veneer.ttf);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.topo{
    display: flex;
    background-color:#CD853F;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-family: venner;
    box-shadow: 0 0 15px rgba(0,0,0,0.9);
}

.topo img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 32px;
}

.rodape{
    display: flex;
    background-color:#CD853F;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 15px black;
    width: 100%;
    min-height: 100px;
}

.rodape img{
    width: 80px;
    height: 80px;
    margin: 15px 0;
    box-shadow: 0 0 15px black inset,0 0px 5px black;
    border-radius: 50%;
}

form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 60px;
}

form input{
    margin-bottom: 15px;
}

.container-b-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

form button{
    font-size: 18px;
    width: 125px;
    padding: 8px 0;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
}

form button:hover{
    box-shadow: 0 0 5px black;
}